<div class="row">
    <div class="col-sm-3 text-center-mobile">
        <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"/>
    </div>
    <div class="col-sm-9" th:utext="#{checkout.paymentMethod.payPal.readOnly.message}"></div>
</div>

<div id="pay_pal_payment_method" class="paypal-payment-method-container" th:fragment="form">
    <th:block th:if="${#paymentMethod.cartContainsThirdPartyPayment()}">
        <div class="row">
            <div class="col-sm-3 text-center-mobile">
                <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"/>
            </div>
            <div class="col-sm-9" th:utext="#{checkout.paymentMethod.payPal.edit.message}"></div>
        </div>
    </th:block>

    <th:block th:unless="${#paymentMethod.cartContainsThirdPartyPayment()}">
        <a th:href="@{/paypal-express/redirect?complete=false}" class="js-payPalPaymentMethodAction is-hidden"></a>
        <div class="row">
            <div class="col-sm-3 text-center-mobile">
                <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"/>
            </div>
            <div class="col-sm-9" th:utext="#{checkout.paymentMethod.payPal.message}"></div>
        </div>
    </th:block>
</div>